:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primery-color:rgb(238, 77, 45);
    --border-color:#dbdbdb;
    --primery-bright-color:#ff6333;

    --header-height:120px;
    --navbar-height:24px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
}
/* animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes Growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));

    }
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* Reponsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 20%;
    /* width: 16.6667%; */
}
.grid__column-10{
    padding-left: 12px;
    padding-right: 12px;
    width: 80%;
    /* width: 83.3333%; */
}

/* Modal */
.modal{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
}
.modal-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal-body{
    --growth-from:0.7;
    --growth-to:1;
    margin: auto;
    z-index: 1;
    animation: Growth linear 0.1s;
}
/* button style */
.btn{
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.6rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primery-color);
}
.btn.btn--disabled{
    cursor: default;
}
.btn.btn--s{
    height: 40px;
    font-size: 1.4rem;
    padding: 0 8px;
}

/* Selection */
.select-input{
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.select-input:hover .select-input-list{
    display: block;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: #4A4A4A;
    position: relative;
    top: 0px;
}
.select-input-list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    margin: 0px;
    display:  none;
    z-index: 1;
}

.select-input-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 4px 0;
}
.select-input-link:hover{
    color: var(--primery-color);
}
.ti-heart-red{
    background-color: red;
}
/* Pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pagination-item{
    list-style: none;
    margin: 0 8px;
}
.pagination-item-active .pagination-item--link{
    background-color: var(--primery-color);
    color: var(--white-color);
    border-radius: 2px;
}
.pagination-item-active:hover .pagination-item--link{
    opacity: 0.9;
}
.pagination-item--link{
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.pagination-item-icon{
    position: relative;
    top: 3px;
}

